

body{
    min-height: 100vh;
    background-image: url('../slike/pozadine/autoplac.jpg');
}

#opcije-container select{
    width: 56%;
}

#opcije-container{
    flex-wrap: wrap;
    padding: 10px 0;
}

#opcije-container > *{
    flex:0 0 33%;
    height: 50%;
}

#opcije-container > *:nth-child(3), #opcije-container > *:nth-child(6){
    border-right: none;
}

.kilometraza-od-do{
    display: flex;
    margin:0 15px;
}

.kilometraza-od-do input{
    width: 30%;
    min-width: 30px;
    margin-right: 3px;
}

.godiste-od-do{
    display: flex;
    margin:0 15px;
    justify-content: flex-start;
}

select#select-godiste{
    min-width: 30px;
    margin-right: 3px;
    height: 100%;
    width: 30%;
    margin:0;
    margin-right: 3px;
}

#nemaRezultataDiv{
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 630px){

    #opcije-container > *{
        flex:0 0 15%;
        height: 50%;
    }

    #opcije-container select:not(select#select-godiste){
        width: 150px !important;
    }

    select#select-godiste{
        width: 74px !important;
    }

    #opcije-container input{
        width: 74px !important;
    }
}

@media only screen and (max-width: 480px){
    #logo h1{
        text-align: center;
        padding-right: 5px;
        font-size: 1.7em;
    }
}




